/* Main styles */

.centrify {
    min-height: 100vh;
}

/* Login page */

.login-header {
    font-size: 4rem !important;
    cursor: pointer;
}

.login-form {
    width: 25rem;
}

.input-error input {
    border-color: red !important;
}

/* Loading page */

.load-animate {
    transition: 1s;
}

.loading-color {
    color: #eaeaea;
}

.loading-color-confirm {
    color: #8b6e6e;
}

/* 404 page */

.header-404 {
    font-size: 13rem !important;
    margin: 0 !important;
}

.subHeader-404 {
    color: #999;
}

.weresorry-404 {
    height: 300px;
    width: auto;
}

/* Layout */

.content-fill, .content-fill #wrapper  {
    height: 100%;
}

.menu-thick {
    height: 30px !important;
    background: rgb(243, 243, 243) !important;
}

.ant-layout-content {
    background-color: #FFF;
}

/* Header */

.ant-layout-header {
    transition: 100ms;
    height: 16px;
    padding: 0 0;
    line-height: 0;
    background: rgb(245, 245, 245);
}

.ant-layout-header span {
    margin-right: 5px;
    margin-left: 5px;
}

.ant-layout-header > .ant-row-flex {
    height: 100%;
}

.ant-layout-header button {
    height: 100%;
    width: 90px;
    color: rgba(0, 0, 0, 0.500);
    background-color: transparent;
    border-color: #d9d9d92f;
    transition: 0s;
}

.ant-layout-header button:focus, .ant-layout-header button:active:not(:hover),
.ant-layout-footer button:focus, .ant-layout-footer button:active:not(:hover) {
    background-color: transparent;
    border-color: #d9d9d90e;
    color: rgba(0, 0, 0, 0.500);
}

.ant-layout-header button:hover, .ant-layout-footer button:hover {
    background-color: transparent;
    border-color: #d9d9d90e;
    color: #40a9ff;
}

/* Footer */
.ant-layout-footer {
    z-index: 100;
    background: rgb(245, 245, 245);
    padding: 0 25px 0 25px;
    height: 60px;
}

.ant-layout-footer button {
    height: 100%;
    width: 25px;
    color: rgba(0, 0, 0, 0.500);
    background-color: transparent;
    border-color: #d9d9d92f;
    transition: 0s;
    margin-right: 10px;
}

.ant-progress-inner {
    background: rgb(230, 230, 230);
}

.song-info {
    transition: 100ms;
    font-size: 10px;
    border-bottom: solid 1px rgb(230, 230, 230);
}

.song-info-big {
    height: 20px;
}

.song-info-small {
    height: 6px;
}

.volume-container {
    bottom: 25px;
    left: 7px;
    position: absolute;
    height: 200px;
    width: auto;
}

/* Main page */
.scrollable-content {
    overflow-x:auto;
}

/* Playlists */
.playlist {
    cursor: pointer;
    width: 220px;
    height: 220px;
    border-radius: 2px;
    transition: 200ms;
    background-image: url('./images/playlistexample.jpg');
    margin: 0 10px 60px 10px;
}

.playlist h4 {
    user-select: none !important;
}

.playlist.playlist-new {
    background-image: none !important;
    background-color: #ecd1d1 !important;
}

.playlist:hover {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.playlist-title {
    position: absolute;
    bottom: -45px;
    width: 200px;
    left: 10px;
    margin: 0;
}

.playlist-privacy {
    position: absolute;
    transition: 200ms;
    left: 10px;
    top: 5px;
    color: rgb(255, 255, 255);
}

.playlist-privacy.private {
    color: rgb(255, 5, 50);
}

.playlist-delete {
    position: absolute;
    transition: 200ms;
    right: 10px;
    top: 5px;
    color: rgba(0, 0, 0, 0.11);
}

.playlist-delete:hover {
    color: rgb(0, 0, 0);
}

.new-playlist-name {
    margin-bottom: 0.5em;
    color: rgba(0, 0, 0, 0.85);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.4;
    border: none;
    background: transparent;
    max-width: 200px;
    text-align: center;
    user-select: none !important;
}

.new-playlist-name:focus {
    border: none;
    outline: none;
    box-shadow: none;
}