/* Main styles */
.centrify {
    min-height: 100vh;
}

/* Login page */
.login-header {
    font-size: 4rem !important;
    cursor: pointer;
}

.login-form {
    width: 25rem;
}

.input-error input {
    border-color: red !important;
}

/* Loading page */
.load-animate {
    transition: 1s;
}

.loading-color {
    color: #eaeaea;
}

.loading-color-confirm {
    color: #8b6e6e;
}

/* 404 page */
.header-404 {
    font-size: 13rem !important;
    margin: 0 !important;
}

.subHeader-404 {
    color: #999;
}

.weresorry-404 {
    height: 300px;
    width: auto;
}

/* Layout */

.musix-header {
    height: 10%;
    background-color: rgba(255, 0, 0, 0.356);
}

.musix-footer {
    height: 10%;
    background-color: rgba(255, 0, 0, 0.356);
}